{% extends 'myapp/base.html' %}
{% block page_title %}All Tasks{% endblock page_title %}
{% block page_links_top %}{% endblock page_links_top %}
{% block page_styles %}{% endblock page_styles %}
{% block page_scripts_top %}{% endblock page_scripts_top %}
{% block nav_links %}{% endblock nav_links %}
{% block page_content %}
<div class="container mt-3 mb-5">
    {% for task in task_list %}
    <p><a href="{% url 'myapp:task-detail' task.pk %}">{{task.title}}</a></p>
    {% endfor %}
</div>
{% endblock page_content %}
{% block page_links_bottom %}{% endblock page_links_bottom %}
{% block page_scripts_bottom %}{% endblock page_scripts_bottom %}